@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
    background-color: #FFFFFF;
    background-image: url('./assets/backgroundImage.png');
    background-repeat: no-repeat;
    background-size: cover;
}


